.bgs-btn {
        font-size: 15px;
        min-height: 20px;
        line-height: 20px;
        color: #ffffff;
        font-family: "PantonMtav3";
        font-weight: bold;
        cursor: pointer;
        padding: 5px 30px;
        margin-top: 10px;
        outline: none;
        border: none;

        &:disabled{
           opacity: 0.5;
        }
        
    }
