<div class="information-wrapper">

    <div class="balance"> balance menagment
        <ul>
            <li> deposit </li>
            <li> withdrawal </li>
            <li> p2p transfer </li>
        </ul>
    </div>

    <div class="general-information"> general-information
        <ul>
            <li> about us </li>
            <li> contact information </li>
            <li> terms and condition </li>
            <li> privace policy </li>
            <li> 18+ </li>
            <li> F.A.Q. </li>
        </ul>
    </div>

    <div class="personal-information"> personal-information
        <ul>
            <li> verification </li>
            <li> change password </li>
            <li> security-options </li>
        </ul>
    </div>

    <div class="contact"> contact
        <ul>
            <li> (032) 2 55 55 55  </li>
            <li> *8800 </li>
            <li>live chat 24/7 </li>
            <li>info@betlive.com </li>
        </ul>
    </div>

    <div class="">
        <span class="material-icons">
            facebook
            </span>
    </div>

</div>