.password-container{
   width: 250px;
   margin: 30px auto;

   .title{
       color: white;
       padding: 20px 0;
       font-size: 22px;
       font-weight: bolder;
   }
   .input {
       padding: 15px 0px;
   }
   .btn{
       text-align: center;
   }
}