<div class="password-container">

    <div class="title">{{'change_password' |localize}} </div>

    <div class="input">
        <bgs-input placeholder=" {{'enter_old_password' | localize}} " width='250px' height='40px'
            [(ngModel)]="password.oldPassword"></bgs-input>
    </div>
    <div class="input">
        <bgs-input placeholder=" {{'enter_new_password' | localize}} " width='250px' height='40px'
            [(ngModel)]="password.newPassword"></bgs-input>
    </div>
    <div class="input">
        <bgs-input placeholder=" {{'confirm_new_password' | localize}} " width='250px' height='40px'
            [(ngModel)]="password.confirmPassword"></bgs-input>
    </div>

    <div class="btn">
        <bgs-button label="{{'change_password' |localize}}" (click)="changePasswordClick()"> </bgs-button>

    </div>

</div>