<div class="main-container">

    <div class="left">

        <div class="my-bets">
            <app-my-bets></app-my-bets>
        </div>

        <div class="top-bps">
            <app-top-bps></app-top-bps>
        </div>

    </div>

    <div class="between">

        <div class="game">
            <app-game></app-game>
        </div>

        <div class="bet">
            <app-bet></app-bet>
        </div>

    </div>

    <div class="right">

        <app-user-bets></app-user-bets>

    </div>




</div>