.register-container {

    .field{
        margin-top: 10px;
    }
    
    .header {
        color: white;
        font-family: bolder;
    }
    .input-radio {
        .gender {
            color: white;
        }
        label{
            color: white;
            font-size: 14px;
        }
    }
    .birthdate {
        p{
            color: white;
        }
        bgs-input{
            display: inline-block;
            margin-left: 7px;
            margin-top: -14px !important;
        }
    }
    
}
